<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/jumbotron-narrow.css" rel="stylesheet">

    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body  class="green">

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/login">Login</a></li>
            <li role="presentation" class="active">
              <form method = 'POST' action = '/logout?_method=DELETE'>
                <button> Log Out </button>
                <br>
              </form>
            </li>
          </ul>
        </nav>
        <!-- <h3 class="text-muted">Project name</h3> -->
      </div>
      <div class="text-center title hx"> Old School Sports Page </div>
      <br/><br/>
      <div class="jumbotron hidden ">
        <h1>Header Image or Header Text</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
      </div>

      <div class="row">
	    
	        <div class="col-md-6">
	          <h4 id = "t1"> <%=t1 %></h4>
	          <p id = "a1"> <%= a1 %> </p>

	          <h4>Subheading</h4>
	          <p>Ut egestas elit eget sapien porta viverra. Aenean imperdiet risus euismod tellus molestie congue. Fusce nulla dolor, rhoncus nec porttitor non, viverra non nisi. Proin aliquet libero non facilisis eleifend. Ut posuere fermentum purus, eget iaculis tellus efficitur fringilla. Donec gravida libero sed justo hendrerit, sed convallis arcu sollicitudin. Sed in ipsum tristique, accumsan metus at, euismod turpis. Vivamus fermentum aliquam libero, nec ultrices nisi malesuada quis. Donec ac semper massa. Quisque id hendrerit urna.</p>

	          <h4>Subheading</h4>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique ac lorem sed fringilla. Proin finibus arcu vel velit semper viverra. Vestibulum turpis dolor, congue non consequat at, auctor sit amet tellus. Aenean quam arcu, efficitur non odio eget, interdum porttitor neque. Nam cursus sit amet est nec finibus. Sed risus mi, ultricies sit amet elementum vel, lacinia sed dolor. Mauris sit amet pretium libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In nec risus odio. Curabitur vehicula massa id justo accumsan sollicitudin. Nulla neque nisl, pulvinar nec efficitur sed, aliquet nec purus. Proin ante leo, posuere ut faucibus vel, pretium sit amet nisi. Vivamus vel eros urna. Fusce nec metus a arcu hendrerit porttitor ut non nibh. Aenean ac consequat mauris.
	          </p>

	        </div>

	        <div class="col-md-6">
	          <h4>Subheading</h4>
	          <p>Duis sed enim velit. Praesent pulvinar at nibh sed congue. Fusce aliquet aliquet dignissim. Aenean et urna id tortor pulvinar posuere non vel risus. Sed quam ligula, fringilla nec vestibulum at, consequat ut dui. Suspendisse egestas erat ac iaculis scelerisque. Donec in maximus metus. Praesent hendrerit auctor turpis. Vestibulum ac dolor vitae magna gravida ullamcorper varius sed dui. Quisque viverra, ligula vitae convallis placerat, ligula tellus efficitur libero, nec blandit libero nibh eu urna. Nullam tincidunt mi eu nibh facilisis fermentum. Vivamus non sem ut urna cursus placerat.</p>

	          <h4>Subheading</h4>
	          <p>Nullam sapien quam, tincidunt sed purus nec, tempor accumsan urna. Pellentesque vitae odio libero. In suscipit facilisis hendrerit. Fusce laoreet sapien molestie arcu iaculis, quis mattis ante vulputate. Donec quis elit mauris. Nulla volutpat rutrum vehicula. Quisque ullamcorper libero malesuada lacus mattis, vitae congue massa dictum. Aliquam vehicula erat vitae euismod cursus. Proin tellus arcu, facilisis eu erat at, consequat tempus magna.</p>

	          <h4>Subheading</h4>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique ac lorem sed fringilla. Proin finibus arcu vel velit semper viverra. Vestibulum turpis dolor, congue non consequat at, auctor sit amet tellus. Aenean quam arcu, efficitur non odio eget, interdum porttitor neque. Nam cursus sit amet est nec finibus. Sed risus mi, ultricies sit amet elementum vel, lacinia sed dolor. Mauris sit amet pretium libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In nec risus odio. Curabitur vehicula massa id justo accumsan sollicitudin. Nulla neque nisl, pulvinar nec efficitur sed, aliquet nec purus. Proin ante leo, posuere ut faucibus vel, pretium sit amet nisi. Vivamus vel eros urna. Fusce nec metus a arcu hendrerit porttitor ut non nibh. Aenean ac consequat mauris.
	          </p>

	        </div>
	    
      </div>



      <footer class="footer">
        <p>© 2015 Company, Inc.</p>
        <button class="next"> <a href='/page2'>Page 2</a> </button> 
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  

</body>
</html>
